<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/admin/css/index.css">
    <script defer src="/admin/js/index.js" type="text/javascript"></script>
</head>

<body>
<header class="top-header">
    <aside class="header-left">
        Dry Admin
    </aside>
    <nav class="header-right">
        <ul th:unless="${session.loginAdmin}">
            <li><a href="login" title="로그인 페이지로 이동">로그인</a></li>
            <li><a href="sign-up" title="회원가입 페이지로 이동">회원가입</a></li>
        </ul>
        <ul th:if="${session.loginAdmin}">
            <li>반갑습니다. <span th:text="${session.loginAdmin.nickname}"> 님!</span></li>
            <li><a href="logout" title="로그아웃 요청">로그아웃</a></li>
        </ul>
    </nav>
</header>

<main>

    <aside class="main-left">
        <ul>
            <li class="aside-items">Dashboard</li>
            <li class="aside-items">Chart</li>
            <li class="aside-items">Tables</li>
            <li class="aside-items">Forms</li>
        </ul>
    </aside>

    <aside class="main-right">
        <summary>
            DashBoard
        </summary>

        <section class="main-right-section">
            <div class="main-right-section-item">
                <div class="main-right-section-item-top">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                                d="M4.00098 20V14C4.00098 9.58172 7.5827 6 12.001 6C16.4193 6 20.001 9.58172 20.001 14V20H21.001V22H3.00098V20H4.00098ZM6.00098 20H18.001V14C18.001 10.6863 15.3147 8 12.001 8C8.68727 8 6.00098 10.6863 6.00098 14V20ZM11.001 2H13.001V5H11.001V2ZM19.7792 4.80761L21.1934 6.22183L19.0721 8.34315L17.6578 6.92893L19.7792 4.80761ZM2.80859 6.22183L4.22281 4.80761L6.34413 6.92893L4.92991 8.34315L2.80859 6.22183ZM7.00098 14C7.00098 11.2386 9.23956 9 12.001 9V11C10.3441 11 9.00098 12.3431 9.00098 14H7.00098Z">
                        </path>
                    </svg>
                    <aside>
                        <div class="dashboard-count">
                            26
                        </div>
                        <div class="dashboard-name">
                            New Report
                        </div>
                    </aside>
                </div>
                <div class="main-right-section-item-bottom">
                    <p>
                        view detail
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                        </path>
                    </svg>
                </div>
            </div>

            <div class="main-right-section-item">
                <div class="main-right-section-item-top">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                                d="M4.00098 20V14C4.00098 9.58172 7.5827 6 12.001 6C16.4193 6 20.001 9.58172 20.001 14V20H21.001V22H3.00098V20H4.00098ZM6.00098 20H18.001V14C18.001 10.6863 15.3147 8 12.001 8C8.68727 8 6.00098 10.6863 6.00098 14V20ZM11.001 2H13.001V5H11.001V2ZM19.7792 4.80761L21.1934 6.22183L19.0721 8.34315L17.6578 6.92893L19.7792 4.80761ZM2.80859 6.22183L4.22281 4.80761L6.34413 6.92893L4.92991 8.34315L2.80859 6.22183ZM7.00098 14C7.00098 11.2386 9.23956 9 12.001 9V11C10.3441 11 9.00098 12.3431 9.00098 14H7.00098Z">
                        </path>
                    </svg>
                    <aside>
                        <div class="dashboard-count">
                            26
                        </div>
                        <div class="dashboard-name">
                            New Report
                        </div>
                    </aside>
                </div>
                <div class="main-right-section-item-bottom">
                    <p>
                        view detail
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                        </path>
                    </svg>
                </div>
            </div>

            <div class="main-right-section-item">
                <div class="main-right-section-item-top">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                                d="M4.00098 20V14C4.00098 9.58172 7.5827 6 12.001 6C16.4193 6 20.001 9.58172 20.001 14V20H21.001V22H3.00098V20H4.00098ZM6.00098 20H18.001V14C18.001 10.6863 15.3147 8 12.001 8C8.68727 8 6.00098 10.6863 6.00098 14V20ZM11.001 2H13.001V5H11.001V2ZM19.7792 4.80761L21.1934 6.22183L19.0721 8.34315L17.6578 6.92893L19.7792 4.80761ZM2.80859 6.22183L4.22281 4.80761L6.34413 6.92893L4.92991 8.34315L2.80859 6.22183ZM7.00098 14C7.00098 11.2386 9.23956 9 12.001 9V11C10.3441 11 9.00098 12.3431 9.00098 14H7.00098Z">
                        </path>
                    </svg>
                    <aside>
                        <div class="dashboard-count">
                            26
                        </div>
                        <div class="dashboard-name">
                            New Report
                        </div>
                    </aside>
                </div>
                <div class="main-right-section-item-bottom">
                    <p>
                        view detail
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                        </path>
                    </svg>
                </div>
            </div>

            <div class="main-right-section-item">
                <div class="main-right-section-item-top">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                                d="M4.00098 20V14C4.00098 9.58172 7.5827 6 12.001 6C16.4193 6 20.001 9.58172 20.001 14V20H21.001V22H3.00098V20H4.00098ZM6.00098 20H18.001V14C18.001 10.6863 15.3147 8 12.001 8C8.68727 8 6.00098 10.6863 6.00098 14V20ZM11.001 2H13.001V5H11.001V2ZM19.7792 4.80761L21.1934 6.22183L19.0721 8.34315L17.6578 6.92893L19.7792 4.80761ZM2.80859 6.22183L4.22281 4.80761L6.34413 6.92893L4.92991 8.34315L2.80859 6.22183ZM7.00098 14C7.00098 11.2386 9.23956 9 12.001 9V11C10.3441 11 9.00098 12.3431 9.00098 14H7.00098Z">
                        </path>
                    </svg>
                    <aside>
                        <div class="dashboard-count">
                            26
                        </div>
                        <div class="dashboard-name">
                            New Report
                        </div>
                    </aside>
                </div>
                <div class="main-right-section-item-bottom">
                    <p>
                        view detail
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                        </path>
                    </svg>
                </div>
            </div>

        </section>
    </aside>

</main>

<footer>

</footer>
</body>
