<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.dry.mapper.MemberMapper">
    <!--    SELECT    -->
    <select id="selectMemberById" parameterType="org.dry.entity.Member" resultType="org.dry.entity.Member">
        SELECT `id`, `password` FROM member WHERE id = #{id};
    </select>

    <select id="selectMemberByIdAndPassword" parameterType="org.dry.vo.IdAndPassword" resultType="org.dry.entity.Member">
        SELECT * FROM member WHERE id = #{id} AND password = #{password}
    </select>

    <select id="count" resultType="Integer">
        SELECT COUNT(*) FROM member;
    </select>

    <!--    INSERT    -->
    <insert id="insertMember" parameterType="Member">
        INSERT INTO member (id, password, nickname, email, last_entered_at, created_at)
        VALUES (#{id}, #{password}, #{nickname}, #{email}, null, '2022-12-03 14:02:08');
    </insert>

    <!--    UPDATE    -->


    <!--    DELETE    -->
    <delete id="deleteAll">
        DELETE FROM member;
    </delete>
</mapper>